/target/
casatables/examples/*.strace
casatables/examples/*.o
casatables/examples/write_ms
casatables/examples/*.tabdsc
.DS_Store
**/.DS_Store
testdata/
**/syscall_analysis_*
casatables/syscall_tracer
casatables/TableUtil_stubs.o
casadocs-ai/*